language: python
matrix:
  include:
  - env: TARGET=python2
  - env: TARGET=python35
  - env: TARGET=python36
  - env: TARGET=pep8
sudo: required
services:
- docker
before_install:
- true
install:
- docker build . -t ${TARGET} -f .travis/${TARGET}.docker
before_script:
- true
script:
- true
deploy:
  provider: pypi
  user: sperkins
  distributions: "sdist bdist_wheel --universal"
  skip_existing: true
  skip_cleanup: true
  password:
    secure: dARmAkuorvprxjHYLYuj9EgRCv/bYXHv355Rj3SKC+41yJq5R2tqKQ+rwXhjTD//t708r1goMqe+rWgKSezH1rDsAvIIODRJQ6PKe4+EaajbuGvn2DLvcmZGylBzwR6nz2tAwZKB1KzSdQtPIxSs9mLXMy+LIrLMQtiJxJ9sg6GM+kcC3QKRMToZU145uaQZyRDnXeh91HquWKc5YH1uSD4WjE7dc4uFrYN07hyLLQY1oVoa27oRXBQ0oiIkUKPk3YKWPtV00BuJQj3xSb3WKeP5K78dOXPa6XGEpOBM8MEELqYKfeBZOpteXxvvUhJzTzG6PubA3kC3CK9N2AOpzUU4TX3tQ7IF82KNi89uuAul10UrhHYTcfCge6xIjQua0vC8lEeHxCxnlzURoCaTpYkVUqWxLRi3ibai5CWA7GoJihteYyo63BoOtMzgiTIFt1kkDE186iDNxiOpQ0PXugsEmP09F4bT7sK50X6GZ+vtZmW4kKL4GCU26ZT2RvhqSNkiAigh4Y4f9NKy4n1TzojAVVgWWsmg29S1dMxmueEFGydqJawx8/I3i/KYiivJsYAqAFZiq0auMTU/uMww/wuvWkDsb+eO0bGWu+RXslpMS3TIcyHL5b4jZwagSufwVHLbuRq/h2ombYDULXghubwDmHd5L+kln+kgLMF4AOg=
  on:
    tags: true
    branch: master
    repo: ska-sa/xarray-ms
