language: python
matrix:
  include:
  - env: TARGET=python36
  - env: TARGET=python37
  - env: TARGET=python38
sudo: required
services:
- docker
before_install:
- true
install:
- docker build . -t ${TARGET} -f .travis/${TARGET}.docker
before_script:
- true
script:
- true
deploy:
  provider: pypi
  user: sperkins
  distributions: "sdist bdist_wheel"
  skip_existing: true
  skip_cleanup: true
  password:
    secure: BsSox4GDuo9WLRzAaMJ/X2eW56hY5Qus/LcVSOj7ygOa21vaSeAxfXfYyVhJaROtAEMDjDmspI3Xg/aHizFTrliulyzjAVXGEzubHHIYTqEkQ/3ZtZeWim8e9YcclbV+nkZ588RyB73nYFb0Hkk/kHJ3KXtPoapg82qPN0LwIR1Qg41YUlOBpPG9g+78Sz28yNdTu5ynHdItQ0kyqToVFuwJaXKgBtHLHPLirg5kravz7SoKHTaKFEuzW3rxfRsZn8vXYo82yyXLJcpLUjhaQT3WcMMHuS+FoIPre7u1xsYODX+PyCPNVBCMHW97Qmjmwvb7x7TQETsak2fRsA0601s5SDuODFRN+b/MErB7otAmlDOFTtA9XFTWG2F6tkXn7Wq3mGi+yDSTt8eB7dFGRMdZqnsRX4PbysDBYAQ2T5Eh9oRPJA8kP8tzr9uTTrxL0p0bjce0DdEKlLLaqTZ7LsnPSgnpK+16H4MU79oyxqB+9xfbvKVQIwlRKdqcqy8wd/Eeaix6IN5+svpl4hKIeIN8MscW93lpKwocegYE/sd1tBNPlUuO8sIABfHIppPt8k/dEKmH1CiEPyM87VTBdNnj1bJrJU5xKPA1a2Rn20YviwhLl8A9MdEXKBALqNFzhXIyTQe2Wk1Pd2S5FfGhC/XsQqnnuSrKXR2LIZogIUs=
  on:
    tags: true
    branch: master
    repo: ska-sa/dask-ms
